body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 20px;
    background-color: #f8f9fa;
    color: #333;
}

header {
    text-align: center;
    background: #00204b;
    color: white;
    padding: 20px;
    font-size: 1.5rem;
}

main {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #00204b;
}

footer {
    text-align: center;
    margin-top: 20px;
}

footer a {
    text-decoration: none;
    color: #00204b;
    font-weight: bold;
}

footer a:hover {
    color: #d8c8a8;
}
